@using System.Threading.Tasks
@using cloudscribe.Web.Pagination
@using FreelancerBlog.ViewModels.Contact
@model IPagedList<ContactViewModel>

@{
    ViewData["Title"] = "مدیریت ارتباط با ما";
}

<h2>مدیریت ارتباط با ما</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactEmail)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactPhone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ContactName
            </td>

            <td>
                @item.ContactEmail
            </td>

            <td>
                @item.ContactPhone
            </td>

            <td>
                <span class="persianDate">@item.ContactDate.ToString("MM/dd/yyyy")</span>
            </td>

            <td>
                <a href="#" class="btn btn-default contactDetail" data-contact-body="@item.ContactBody">جزئیات</a>
                <a asp-action="DeleteContact" asp-route-id="@item.ContactId" class="btn btn-danger DeleteContactButton">حذف</a>
            </td>
        </tr>
    }
</table>


<div class="modal fade" id="ContactDetailModal" tabindex="-1" role="dialog" aria-labelledby="ContactDetailModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ContactDetailModal-label">جزتیات تماس</h4>
            </div>

            <div class="modal-body">
                <p id="contactBodyModaltxt" style="max-height:600px; overflow: auto;-ms-word-wrap: break-word; word-wrap: break-word; white-space: pre-wrap;" class="text-justify"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItemCount"
              cs-pagenumber-param="page"
              asp-controller="Contact"
              asp-action="ManageContact">

    </cs-pager>
</div>

@section scripts{
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/js/Utilities/PNotifyModule.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.wholepage.js"></script>

    <script src="~/js/CustomScripts/Admin/Contact/ManageContactModule.js"></script>
    <script>jQuery(manageContactModule.Run)</script>
}