@using System.Threading.Tasks
@using cloudscribe.Web.Pagination
@using FreelancerBlog.ViewModels.Contact
@model IPagedList<ContactViewModel>

@{
    ViewData["Title"] = "مدیریت ارتباط با ما";
}

<h2>مدیریت ارتباط با ما</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactEmail)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactPhone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ContactDate)
        </th>

        <th>متن تکست</th>
        <th>دراپ</th>
        <th>تعداد</th>
        <th>قیمت</th>

        <th></th>
    </tr>

    <!-- ko foreach: contacts-->
    <tr>
        <td data-bind="text: contactName"> </td>

        <td data-bind="text: contactEmail"></td>

        <td data-bind="text: contactPhone"></td>

        <td data-bind="text: $root.getPersianDate(contactDate)"></td>

        <td><input data-bind="value: contactText" /></td>
        <td>
            <select data-bind="foreach: contactDropSelectListItems">
                <option data-bind="value: value, text: text, attr: {'data-value': value, selected: selected}"></option>
            </select>
        </td>
        <td><input data-bind="value: quantity" type="number" /></td>
        <td data-bind="text: price"></td>

        <td>
            <a data-bind='attr: { "data-contact-body": contactBody }' class="btn btn-default contactDetail">جزئیات</a>
            <a data-bind="attr: { href: '/DeleteContact/' + contactId }" class="btn btn-danger DeleteContactButton">حذف</a>
        </td>
    </tr>
    <!-- /ko -->
    <a  class="btn btn-success" id="print-array">sdf</a>
</table>

<div class="modal fade" id="ContactDetailModal" tabindex="-1" role="dialog" aria-labelledby="ContactDetailModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ContactDetailModal-label">جزتیات تماس</h4>
            </div>

            <div class="modal-body">
                <p id="contactBodyModaltxt" style="max-height:600px; overflow: auto;-ms-word-wrap: break-word; word-wrap: break-word; white-space: pre-wrap;" class="text-justify"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@*<div class="text-center">
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItemCount"
                  cs-pagenumber-param="page"
                  asp-controller="Contact"
                  asp-action="ManageContact">

        </cs-pager>
    </div>*@

@section scripts{
    <script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/lib/knockout/dist/knockout.mapping-latest.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/js/Utilities/PNotifyModule.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.wholepage.js"></script>

    @*<script src="~/js/CustomScripts/Admin/Contact/ManageContactModule.js"></script>
        <script>jQuery(manageContactModule.Run)</script>*@

    <script>

        var jsonModel = @Json.Serialize(Model);

        var ManageContactViewModel = function(modelData) {
            //this.contacts = ko.observableArray(modelData);
            this.contacts =  ko.mapping.fromJS(modelData);
            this.getPersianDate = function(date) {
                return new Date(date).toLocaleDateString("fa-IR").replace(' ه‍.ش.', '');
            };
        };

        var viewModel = new ManageContactViewModel(jsonModel);

        ko.applyBindings(viewModel);

        $("#print-array").click(function() {
            var plainJs = ko.toJSON(viewModel);
            console.log(plainJs);
        });

    </script>
}