@using FreelancerBlog.ViewModels.Contact
@using Microsoft.Extensions.Configuration;
@model FreelancerBlog.ViewModels.Contact.ContactViewModel

@{
    ViewData["Title"] = "تماس با ما";
}

@inject IConfiguration _configuration

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@if (ViewData["CreateContactMessage"] != null)
{
    @if ((string)ViewData["CreateContactMessage"] == "NothingToSaveOrThereWasAProblem")
    {
        <p>
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>مشکلی در ثبت پیش آمده یا چیزی برای ثبت کردن وجود نداشت.</h4>
            </div>
        </p>
    }
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>تماس با ما</h1>
                <p>سوالات و مشکلات خود را از طریق فرم زیر با ما در میان بگذارید، ما در اسراع وقت با شما تماس خواهیم گرفت.</p>
            </div>
            <div class="col-sm-4">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">تماس با ما</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4>فرم تماس با ما</h4>
            <div class="status alert alert-success" style="display: none"></div>


            <form asp-action="Create" id="ContactForm" class="contact-form" method="post">
                <div class="form-horizontal">
                    <div class="row">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="col-sm-5">

                            <div class="form-group">
                                <input asp-for="ContactName" required="required" placeholder="نام و نام خانوادگی" class="form-control input-lg" />
                                @* I'm using Html helper instead of Tag helper because tag helper doesn't work when javascript disabled, this might change in the future *@
                                @*<span asp-validation-for="ContactName" class="text-danger" />*@
                                @Html.ValidationMessageFor(model => model.ContactName)
                            </div>

                            <div class="form-group">
                                <input asp-for="ContactPhone" placeholder="شماره تماس" class="form-control input-lg" />
                                @Html.ValidationMessageFor(model => model.ContactPhone)
                            </div>

                            <div class="form-group">
                                <input asp-for="ContactEmail" required="required" placeholder="ایمیل" class="form-control input-lg" />
                                @Html.ValidationMessageFor(model => model.ContactEmail)
                            </div>

                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="@(_configuration.GetValue<string>("reChaptchaSecret:client-data-sitekey"))"></div>

                                <br />
                                <input type="submit" value="ارسال" style="width: 100%;" class="btn btn-primary btn-lg" />
                            </div>

                        </div>

                        <div class="col-sm-7">
                            <textarea asp-for="ContactBody" rows="15" placeholder="متن پیغام" required="required" class="form-control"></textarea>
                            @Html.ValidationMessageFor(model => model.ContactBody)
                        </div>


                    </div>
                </div>
            </form>

        </div>

        <div class="col-sm-4" id="YesScript" style="display:none;">
            <h4>محل دفتر کار</h4>
            <iframe width="526" height="315" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1753.168143856976!2d53.57120265817691!3d28.49952835280051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDI5JzU4LjMiTiA1M8KwMzQnMjAuMyJF!5e0!3m2!1sen!2sir!4v1469607585851"></iframe>
        </div>

    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.partofpage.js"></script>

     <script data-main="/js/CustomScripts/Root/Contact/Create/Main" src="~/lib/requirejs/require.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
}
