@model WebFor.Web.Areas.User.ViewModels.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "مشاهده پروفایل";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{

}

<div class="row profile">

    <div class="col-sm-3">

        <div class="row">
            <div class="col-xs-7 col-sm-12">
                <img src="~/images/user-avatar/@(Model.UserAvatar ?? (Model.UserGender == "Male" ? "default-image-male.jpg" : "default-image-female.jpg"))" style="max-width: 250px; max-height: 250px;" class="profile-image">
            </div>
            <div class="col-xs-5 col-sm-12">
                <h3>اطلاعاتی کلی</h3>

                <ul class="profile-details">

                    @if (Model.UserOccupation != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-briefcase"></i> شغل: @Model.UserOccupation</div>
                        </li>
                        <br />
                    }

                    <li class="list-unstyled">
                        <div>
                            <i class="fa fa-@(Model.UserGender == "Male" ? "male" : "female")"></i> جنسیت: @(Model.UserGender == "Male" ? "آقا" : "خانم")
                        </div>
                    </li>

                    @if (Model.UserDateOfBirth.HasValue)
                    {
                        <br />
                        <li class="list-unstyled">
                            <div><i class="fa fa-birthday-cake"></i> تاریخ تولد:  <span class="persianDate">@Model.UserDateOfBirth.Value.ToString("MM/dd/yyyy")</span></div>
                        </li>
                    }

                </ul>

                @if (Model.UserProfileEmail != null || Model.UserPhoneNumber != null || Model.UserWebSite != null || Model.UserTwitterProfile != null || Model.UserFacebookProfile != null || Model.UserGoogleProfile != null || Model.UserLinkedInProfile != null)
                {
                    <h3>اطلاعات تماس</h3>
                }
                
                <ul class="profile-details">

                    @if (Model.UserProfileEmail != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-envelope"></i> ایمیل: @Model.UserProfileEmail</div>
                        </li>
                        <br />
                    }


                    @if (Model.UserPhoneNumber != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-phone"></i> تلفن: @Model.UserPhoneNumber</div>
                        </li>
                        <br />
                    }


                    @if (Model.UserWebSite != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-globe"></i> وب سایت: <a href="@Model.UserWebSite" target="_blank">لینک</a></div>
                        </li>
                        <br />
                    }


                    @if (Model.UserTwitterProfile != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-twitter"></i> تویتر: <a href="@Model.UserTwitterProfile" target="_blank">لینک</a></div>
                        </li>
                        <br />
                    }


                    @if (Model.UserFacebookProfile != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-facebook"></i> فیس بوک: <a href="@Model.UserFacebookProfile" target="_blank">لینک</a></div>
                        </li>
                        <br />
                    }

                    @if (Model.UserGoogleProfile != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-google-plus"></i> گوگل پلاس: <a href="@Model.UserGoogleProfile" target="_blank">لینک</a></div>
                        </li>
                        <br />
                    }

                    @if (Model.UserLinkedInProfile != null)
                    {
                        <li class="list-unstyled">
                            <div><i class="fa fa-linkedin"></i> لینکدین:  <a href="@Model.UserLinkedInProfile" target="_blank">لینک</a></div>
                        </li>
                    }

                </ul>


            </div>
        </div>

    </div>

    <div class="col-sm-9">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#main" data-toggle="tab">معرفی نامه</a></li>
            <li class=""><a href="#articles" data-toggle="tab">مقالات</a></li>
            <li class=""><a href="#comments" data-toggle="tab">نظرات</a></li>
        </ul>

        <div class="tab-content">


            <div id="main" class="tab-pane active">

                <div class="row">

                    <div class="col-sm-5">

                        <h2>نام</h2>
                        <p>@Model.UserFullName</p>

                        @if (Model.UserBio != null)
                        {
                            <h2>درباره</h2>
                            <p>@Model.UserBio</p>
                        }

                        @if (Model.UserOccupation != null)
                        {
                            <h2>شغل</h2>
                            <p>@Model.UserOccupation</p>
                        }

                        @if (Model.UserSpeciality != null)
                        {
                            <h2>تخصص ها</h2>
                            <p>@Model.UserSpeciality</p>
                        }

                        @if (Model.UserFavourites != null)
                        {
                            <h2>علاقه مندی ها</h2>
                            <p>@Model.UserFavourites</p>
                        }

                        @if (Model.UserAddress != null)
                        {
                            <h2>آدرس</h2>
                            <p>@Model.UserAddress</p>
                        }

                    </div>



                </div>

            </div>


            <div id="articles" class="tab-pane">

                <table class="table table-hover table-responsive table-striped ">

                    <thead>
                        <tr>
                            <td>عنوان مقاله</td>
                            <td>تاریخ ارسال</td>
                            <td>امتیاز مقاله</td>
                            <td>بازدیدهای مقاله</td>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var article in Model.Articles)
                        {
                            <tr>
                                <td><a href="/Article/Detail/@article.ArticleId/@article.ArticleTitle.Replace(" ", "-")">@article.ArticleTitle</a></td>
                                <td class="persianDate">@article.ArticleDateCreated</td>
                                <td>@(article.ArticleRatings.Sum(a => a.ArticleRatingScore) / article.ArticleRatings.Count)</td>
                                <td>@article.ArticleViewCount</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>


            <div id="comments" class="tab-pane">
                <table class="table table-hover table-responsive table-striped ">

                    <thead>
                        <tr>
                            <td>مقاله ی کامنت</td>
                            <td>تاریخ ارسال کامنت</td>
                            <td>متن کامنت</td>
                            <td>تایید شدن کامنت</td>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var comment in Model.ArticleComments)
                        {
                            <tr>
                                <td><a href="/Article/Detail/@comment.ArticleIDfk/@comment.Article.ArticleTitle.Replace(" ", "-")">@comment.Article.ArticleTitle</a></td>
                                <td class="persianDate">@comment.ArticleCommentDateCreated</td>
                                <td>@comment.ArticleCommentBody.Substring(0, comment.ArticleCommentBody.Length > 40 ? 40 : comment.ArticleCommentBody.Length) ...</td>
                                <td>@(comment.IsCommentApproved == true ? "تایید شده" : "تایید نشده")</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>




        </div>

    </div>

</div>


@section Scripts {
    
}