@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="fa">
<head>

    @RenderSection("MetaTags", required: false)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Localizer["MetaDescription"]">
    <meta name="author" content="@Localizer["Author"]">
    <title>@ViewData["Title"] - @Localizer["WebSiteName"]</title>

    @Html.Partial("_CSSPartial.en-US")

    <link rel="shortcut icon" href="~/images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    @RenderSection("styles", required: false)
</head>

<body>

    <noscript>
        <div id="noscript">
            @Localizer["NoScript"]
        </div>
    </noscript>

    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt pull-left" role="banner">
        @await Html.PartialAsync("_NavigationMenu")
        <a href="http://localhost:12381/?culture=fa-IR">fafa</a>
    </header>

    @RenderBody()

    <section id="bottom" class="wet-asphalt">
        @await Html.PartialAsync("_ExtendedFooter")
    </section>

    <footer id="footer" class="midnight-blue">
        @await Html.PartialAsync("_Footer")
    </footer>

    @Html.Partial("_ScriptsPartial")

    @RenderSection("scripts", required: false)

</body>
</html>