@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container">
    <div class="row">


        <div class="col-md-3 col-sm-6">
            <h4>@Localizer["AboutUs<H4>"]</h4>
            <p>
                @Localizer["AboutUsIntro<P>"]
            </p>
        </div>


        <div class="col-md-3 col-sm-6">
            <h4>@Localizer["WebSiteName"]</h4>
            <div>
                <ul>
                    <li class="fa fa-chevron-left"> <a href="/Home/About">@Localizer["AboutUs<A>"]</a></li>
                    <br />
                    @*<li class="fa fa-chevron-left"> <a href="#">@Localizer["Meeting<A>"]</a></li>
                        <br />*@
                    @*<li class="fa fa-chevron-left"> <a href="#">@Localizer["Partners<A>"]</a></li>
                        <br />*@
                    <li class="fa fa-chevron-left"> <a href="/Home/Services">@Localizer["OurServices<A>"]</a></li>
                    <br />
                    <li class="fa fa-chevron-left"> <a href="/Home/Faq">@Localizer["FAQ<A>"]</a></li>
                    <br />
                    <li class="fa fa-chevron-left"> <a href="/Contact/Create">@Localizer["ContactUs<A>"]</a></li>
                    <br />
                    <li class="fa fa-chevron-left"> <a href="/Home/PrivacyPolicy">@Localizer["PrivacyPolicy<A>"]</a></li>
                    <br />
                    <li class="fa fa-chevron-left"> <a href="/Home/TermsAndConditions">@Localizer["TermsAndConditions<A>"]</a></li>
                    <br />
                    <li class="fa fa-chevron-left"> <a href="#" id="copyright-anchor">@Localizer["Copyright"]</a></li>
                </ul>
            </div>

        </div>


        <div class="col-md-3 col-sm-6">
            @await Component.InvokeAsync("HomeFooterBlog")
        </div>


        <div class="col-md-3 col-sm-6">
            <h4>@Localizer["Address"]</h4>

            @Localizer["AddressTag"]

            <h4>@Localizer["NewsLetter"]</h4>
            <form id="news-letter-form" role="form">
                <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="@Localizer["EmailPlaceHolder"]" required />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">@Localizer["Submit"]</button>
                    </span>
                </div>
            </form>

        </div>


    </div>
</div>

<div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="notification-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="notification-modal-label">@Localizer["ModalLabel"]</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-success" id="news-letter-alert" style="display: none;">
                    @Localizer["ModalAlertMessage"]
                </div>

                <div class="alert alert-success" id="copyright-alert" style="display: none;">
                   @Localizer["CopyrightMessage"]
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> @Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>