@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <ul class="pull-right">
                <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li>
                <li><a href="/">@Localizer["Home"]</a></li>
                <li><a href="/Home/About">@Localizer["AboutUs"]</a></li>
                <li><a href="/Home/Faq">@Localizer["FAQ"]</a></li>
                <li><a href="/Contact/Create">@Localizer["ContactUs"]</a></li>
            </ul>
        </div>

        <div class="col-sm-6">
           @Localizer["Copyright"]
        </div>

    </div>
</div>