@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
}

@section styles{
    @RenderSection("PortfolioStyles", required: false)
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>@Localizer["WorkSample"]</h1>
                <p>@Localizer["WorkSampleDesc"]</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">@Localizer["Home"]</a></li>
                    <li class="active"><a href="/Portfolio/Index">@Localizer["Portfolio"]</a></li>
                    <li class="active"><a href="/Portfolio/Detail/@ViewData["PortfolioId"]">@ViewData["PortfolioTitle"]</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="container">
    <div class="row">

        <div class="col-sm-12">
            @RenderBody()
        </div>

    </div>
</section>


@section scripts{
    @RenderSection("PortfolioScripts", required: false)
}