@using Microsoft.AspNetCore.Mvc.Localization
@using System.Threading.Tasks
@using WebFor.Core.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

<section>
    <h4>@Localizer["SocialLoginMessage"]</h4>
    <hr />
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();


        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="btn btn-lg btn-block btn-social btn-@provider.AuthenticationScheme.ToLower()" style="direction: ltr;" id="@provider.AuthenticationScheme" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.AuthenticationScheme account"><span class="fa fa-@(provider.AuthenticationScheme.ToLower() == "microsoft" ? "windows" : provider.AuthenticationScheme.ToLower())"></span>@provider.AuthenticationScheme</button>
                    }
                </p>
            </div>
        </form>
    }
</section>