@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Error"];
}

@if (ViewBag.StatusCode == 404)
{
    <section id="error" class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <h1>@Localizer["NotFound<H1>"]</h1>
            <p style="font-size: medium;">@Localizer["NotFoundDesc"]</p>
            <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
        </div>
    </section>
}

@if (ViewBag.StatusCode == 500 || ViewBag.StatusCode == 0)
{
    <section id="error" class="container">
        <h1>@Localizer["Error"]</h1>
        <p style="font-size: medium;">@Localizer["InternalServerErrorDesc"]</p>
        <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
    </section>
}