@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Notification"];
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>@Localizer["Notification"]</h1>
                <p>@Localizer["NotificationDesc"]</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">@Localizer["Home"]</a></li>
                    <li class="active">@Localizer["Notification"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>

@if (ViewBag.InfoMessage == "RegistrationConfirmEmail")
{
    <div class="row" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <div class="alert alert-warning">
                <h2 class="text-info text-center">
                    @Localizer["ConfirmEmail"]
                </h2>
                <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
            </div>
        </div>
    </div>
}

@if (ViewBag.InfoMessage == "EmailConfirmed")
{
    <div class="row" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <div class="alert alert-warning">
                <h2 class="text-info text-center">
                    @Localizer["EmailConfirmSuccess"]
                </h2>
                <a class="btn btn-info" href="/Account/Login">@Localizer["Login"]</a>
                <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
            </div>
        </div>
    </div>
}


@if (ViewBag.InfoMessage == "ResendConfirmEmailSent")
{
    <div class="row" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <div class="alert alert-warning">
                <h2 class="text-info text-center">
                    @Localizer["CheckYourInbox"]
                </h2>
                <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
            </div>
        </div>
    </div>
}

@if (ViewBag.InfoMessage == "ForgotPasswordEmailSent")
{
    <div class="row" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <div class="alert alert-warning">
                <h2 class="text-info text-center">
                    @Localizer["ResetPasswordCheckEmail"]
                </h2>
                <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
            </div>
        </div>
    </div>
}

@if (ViewBag.InfoMessage == "ResetPasswordConfirmation")
{
    <div class="row" style="padding: 20px;">
        <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
            <div class="alert alert-warning">
                <h2 class="text-info text-center">
                @Localizer["PasswordResetSuccess"]
                </h2>
                <a class="btn btn-success" href="/Home/Index">@Localizer["BackToHome"]</a>
            </div>
        </div>
    </div>
}

