@using System.Threading.Tasks
@using cloudscribe.Web.Pagination
@model cloudscribe.Web.Pagination.IPagedList<WebFor.Web.Areas.Admin.ViewModels.Article.ArticleViewModel>

@{
    ViewData["Title"] = "مدیریت مقاله";
}

<h2>مدیریت مقاله</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()

@if (@TempData["ViewMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ViewMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleTagCreateMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleTagCreateMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleArticleTagCreateMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleArticleTagCreateMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleArticleTagRemoveFromArticle"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleArticleTagRemoveFromArticle"]</h4>
        </div>
    </p>
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleTitle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleStatus)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleDateCreated)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleDateModified)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.ArticleTitle
            </td>

            <td>
                @item.ArticleStatus
            </td>

            <td>
                @item.ArticleDateCreated
            </td>

            <td>
                @(item.ArticleDateModified ?? DateTime.MinValue)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId" class="btn btn-warning">ویرایش</a>
                <a asp-action="Details" @*asp-route-area="" *@ asp-route-id="@item.ArticleId" asp-route-title="@item.ArticleTitle.Replace(' ', '-')" class="btn btn-default">جزئیات</a>
                <a asp-action="Delete" asp-route-id="@item.ArticleId" class="btn btn-danger DeleteArticleButton">حذف</a>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItemCount"
              cs-pagenumber-param="page"
              asp-controller="Article"
              asp-action="ManageArticle">

    </cs-pager>
</div>

@section scripts{
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>

    <script data-main="/js/WebforScripts/Admin/Article/ManageArticle/Main" src="~/lib/requirejs/require.min.js"></script>
}