@using System.Threading.Tasks
@using cloudscribe.Web.Pagination
@model cloudscribe.Web.Pagination.IPagedList<WebFor.Web.ViewModels.Article.ArticleCommentViewModel>

@{
    ViewData["Title"] = "مدیریت مقاله";
}

<h2>مدیریت نظرات</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleCommentName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleCommentEmail)
        </th>

        <th>
            عنوان مقاله
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.Single().ArticleCommentBody)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Single().IsCommentApproved)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleCommentDateCreated)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.ArticleCommentName
            </td>

            <td>
                @item.ArticleCommentEmail
            </td>

            <td>
                <a href="/Article/Detail?id=@item.Article.ArticleId#@item.ArticleCommentId">@item.Article.ArticleTitle</a>
            </td>

            @*<td>
                    @item.ArticleCommentBody
                </td>*@

            <td>
                <input type="checkbox" class="commentApprovalCheckBox" value="@item.ArticleCommentId" @(item.IsCommentApproved ? "checked" : "") /> &nbsp; @(item.IsCommentApproved ? Html.Raw("<span style='color:green;'>آری</span>") : Html.Raw("<span style='color:red;'>خیر</span>"))
            </td>

            <td>
                <span class="ArticleDateCreated">@item.ArticleCommentDateCreated.ToShortDateString()</span>
            </td>

            <td>
                <a href="#" data-id="@item.ArticleCommentId" data-article-comment-body="@item.ArticleCommentBody" class="btn btn-warning articleCommentEdit">ویرایش</a>
                <a href="#" class="btn btn-default articleCommentDetail" data-article-comment-body="@item.ArticleCommentBody">جزئیات</a>
                <a asp-action="DeleteArticleComment" asp-route-id="@item.ArticleCommentId" class="btn btn-danger DeleteArticleCommentButton">حذف</a>
            </td>
        </tr>
    }
</table>


<div class="modal fade" id="ArticleCommentDetailModal" tabindex="-1" role="dialog" aria-labelledby="ArticleCommentDetailModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ArticleCommentDetailModal-label">جزتیات نظر</h4>
            </div>

            <div class="modal-body">
                <p id="articleCommentBodyModal" style="max-height:600px; overflow: auto;-ms-word-wrap: break-word; word-wrap: break-word; white-space: pre-wrap;" class="text-justify"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ArticleCommentEditModal" tabindex="-1" role="dialog" aria-labelledby="ArticleCommentEditModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ArticleCommentEditModal-label">ویرایش نظر</h4>
            </div>

            <div class="modal-body">


                <div class="row">
                    <div class="col-md-12" id="ArticleCommentEditModalContainer">
                        <div class="panel panel-default" style="margin: 0; padding: 0;">
                            <div class="panel-heading text-center">نظر</div>
                            <div class="panel-body" id="ArticleCommentEditModalPanelBody">
                                <div>
                                    <textarea id="ArticleCommentEditModalTxt" cols="67" rows="25"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                <button type="button" id="saveEditedComment" class="btn btn-primary">ذخیره</button>
            </div>
        </div>
    </div>
</div>


<div class="text-center">
    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItemCount"
              cs-pagenumber-param="page"
              asp-controller="Article"
              asp-action="ManageArticleComment">

    </cs-pager>
</div>

@section scripts{
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/lib/pesian-datetime/jalali.js"></script>
    <script src="~/js/webforscripts/admin.managearticlecomment.js"></script>
<script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
<script src="~/lib/spin.js/spin.min.js"></script>
<script src="~/js/utilities/spin.partofpage.js"></script>

}