@using System.Threading.Tasks
@model IEnumerable<FreelancerBlog.Web.Areas.Admin.ViewModels.Article.ArticleTagViewModel>

@{
    ViewData["Title"] = "مدیریت مقاله";
}

<h2>مدیریت تگ</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.AntiForgeryToken()

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Single().ArticleTagName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td id="@item.ArticleTagId">
                @item.ArticleTagName
            </td>

            <td>
                <a href="#" data-id="@item.ArticleTagId" data-tag-name="@item.ArticleTagName" class="btn btn-warning EditArticleTagButton">ویرایش</a>
                <a asp-action="DeleteArticleTag" asp-route-id="@item.ArticleTagId" class="btn btn-danger DeleteArticleTagButton">حذف</a>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="EditArticleTagModal" tabindex="-1" role="dialog" aria-labelledby="EditArticleTagModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="EditArticleTagModal-label">تگ</h4>
            </div>

            <div class="modal-body" id="ArticleTagEditModalContainer">
                <input type="text" id="ArticleTagEditTxt" class="form-control" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                <button type="button" id="saveEditedTag" class="btn btn-primary">ذخیره</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/js/Utilities/PNotifyModule.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/js/utilities/spin.partofpage.js"></script>
    <script src="~/js/CustomScripts/Admin/Article/ManageArticleTagModule.js"></script>
    <script>jQuery(manageArticleTagModule.Run)</script>
}