@using System.Threading.Tasks
@model IEnumerable<FreelancerBlog.Web.Areas.Admin.ViewModels.Article.ArticleViewModel>

@{
    ViewData["Title"] = "مدیریت مقاله";
}

<h2>مدیریت مقاله</h2>

@section styles{
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css" />
}

@Html.AntiForgeryToken()

@if (@TempData["ViewMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ViewMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleTagCreateMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleTagCreateMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleArticleTagCreateMessage"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleArticleTagCreateMessage"]</h4>
        </div>
    </p>
}

@if (@TempData["ArticleArticleTagRemoveFromArticle"] != null)
{
    <p>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>@TempData["ArticleArticleTagRemoveFromArticle"]</h4>
        </div>
    </p>
}

<table class="table table-hover table-striped table-responsive" id="article-table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Single().ArticleTitle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Single().ArticleStatus)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Single().ArticleDateCreated)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Single().ArticleDateModified)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody> </tbody>

</table>

@section scripts{
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/js/Utilities/PNotifyModule.js"></script>
    <script src="~/js/CustomScripts/Admin/Article/ManageArticleModule.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
    <script>jQuery(manageArticleModule.Run)</script>
}