@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    Layout = "~/views/shared/_layout.cshtml";
}

@section styles{
    <link href="~/css/index.css" rel="stylesheet" />
}

    <section id="main-slider" class="no-margin">
        @await Component.InvokeAsync("HomeSlider")
    </section>

<section class="row" style="display: block; text-align: center;">

    <div class="col-lg-3 specialty">
        <img alt="RESEARCH &amp; DISCOVERY" src="~/images/index/5411d3383cb97584393720.png">
        <h3 style="height: 30px;">@Localizer["SearchAndAnalysis<H3>"]</h3>
        <p style="height: 129px;">@Localizer["SearchAndAnalysis<P>"]</p>
    </div>

    <div class="col-lg-3 specialty">
        <img alt="UX STRATEGY &amp; DESIGN" src="~/images/index/5411d346048d9848730509.png">
        <h3 style="height: 30px;">@Localizer["DesignAndDevelopment<H3>"]</h3>
        <p style="height: 129px;">@Localizer["DesignAndDevelopment<P>"]</p>

    </div>

    <div class="col-lg-3 specialty">
        <img alt="ENGINEERING" src="~/images/index/5411d350c0fe9095486801.png">
        <h3 style="height: 30px;">@Localizer["Engeneering<H3>"]</h3>
        <p style="height: 129px;">@Localizer["Engeneering<P>"]</p>

    </div>

    <div class="col-lg-3 specialty">
        <img alt="QA &amp; DEPLOYMENT" src="~/images/index/5411d35a68552974185863.png">
        <h3 style="height: 30px;">@Localizer["Deployment<H3>"]</h3>
        <p style="height: 129px;">@Localizer["Deployment<P>"]</p>

    </div>

</section>

<section class="bg-3 text-center">
    <h1>@Localizer["PresentYourSelf<H1>"]</h1>
    <h2>@Localizer["PresentYourSelf<H2>"]</h2>
    <h2>@Localizer["PresentYourSelf2<H2>"]</h2>
    <br />
    <br />
    <a href="/SiteOrder/Index#calculator" class="btn btn-default btn-lg">@Localizer["PriceCalculator<A>"]</a>
    <p class="lead"></p>
</section>

<section id="recent-works">
    @await Component.InvokeAsync("HomePortfolioSlider")
</section>


<section class="visit-more">
    @Localizer["VisitOurBlog"]
</section>


@*<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>What our clients say</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@section scripts{
    <script src="~/lib/parallax/parallax.js"></script>
    <script src="~/js/CustomScripts/Root/Home/Index.js"></script>
}