@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    Layout = "~/views/shared/_layout.cshtml";
}
 

@section styles{
    <style>
        .bg-3 {
            background: url('/images/index/index-parallax.jpg') no-repeat bottom center fixed;
            color: #fff;
            background-size: cover;
        }

        .visit-more {
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e04c13 0px, #e04c13 100%) repeat scroll 0 0;
            border-bottom: 1px solid #e13008;
            border-top: 1px solid #e8842f;
            box-shadow: 0 1px #f74a11 inset, 0 1px #4ebee3;
            color: #fff;
            padding: 62px 0 58px;
            text-align: center;
        }

        .nm-link {
            color: #fff;
            display: inline-block;
            font: italic 32px/1.1 roboto-light-webfont,sans-serif;
            transition: color 0.4s ease 0s;
        }

            .nm-link:hover {
                color: #00b2fa;
            }

            .nm-link span {
                font-family: roboto-bold-webfont,sans-serif;
                font-style: normal;
                margin-left: 7px;
            }

                .nm-link span::after {
                    background: rgba(0, 0, 0, 0) no-repeat scroll -612px -280px;
                    content: "";
                    display: inline-block;
                    height: 29px;
                    margin: 6px 0 0 24px;
                    vertical-align: top;
                    width: 19px;
                }

        .row {
            margin-right: 0;
            margin-left: 0;
        }
    </style>

}

<section id="main-slider" class="no-margin">
    @await Component.InvokeAsync("HomeSlider")
</section>

<section class="row" style="display: block; text-align: center;">

    <div class="col-lg-3 specialty">
        <img alt="RESEARCH &amp; DISCOVERY" src="~/images/index/5411d3383cb97584393720.png">
        <h3 style="height: 30px;">@Localizer["SearchAndAnalysis<H3>"]</h3>
        <p style="height: 129px;">@Localizer["SearchAndAnalysis<P>"]</p>
    </div>

    <div class="col-lg-3 specialty">
        <img alt="UX STRATEGY &amp; DESIGN" src="~/images/index/5411d346048d9848730509.png">
        <h3 style="height: 30px;">@Localizer["DesignAndDevelopment<H3>"]</h3>
        <p style="height: 129px;">@Localizer["DesignAndDevelopment<P>"]</p>

    </div>

    <div class="col-lg-3 specialty">
        <img alt="ENGINEERING" src="~/images/index/5411d350c0fe9095486801.png">
        <h3 style="height: 30px;">@Localizer["Engeneering<H3>"]</h3>
        <p style="height: 129px;">@Localizer["Engeneering<P>"]</p>

    </div>

    <div class="col-lg-3 specialty">
        <img alt="QA &amp; DEPLOYMENT" src="~/images/index/5411d35a68552974185863.png">
        <h3 style="height: 30px;">@Localizer["Deployment<H3>"]</h3>
        <p style="height: 129px;">@Localizer["Deployment<P>"]</p>

    </div>

</section>

<section class="bg-3 text-center">
    <h1>@Localizer["PresentYourSelf<H1>"]</h1>
    <h2>@Localizer["PresentYourSelf<H2>"]</h2>
    <h2>@Localizer["PresentYourSelf2<H2>"]</h2>
    <br />
    <br />
    <a href="/SiteOrder/Index#calculator" class="btn btn-default btn-lg">@Localizer["PriceCalculator<A>"]</a>
    <p class="lead"></p>
</section>

<section id="recent-works">
    @await Component.InvokeAsync("HomePortfolioSlider")
</section>


<section class="visit-more">
    @Localizer["VisitOurBlog"]
</section>


@*<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>What our clients say</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@section scripts{
    <script src="~/lib/parallax/parallax.js"></script>
    <script src="~/js/CustomScripts/Root/Home/Index.js"></script>
}