@using System.Security.Claims
@using System.Threading.Tasks
@using WebFor.Web.ViewModels.Article
@using WebFor.Core.Domain
@model WebFor.Web.Areas.Admin.ViewModels.Article.ArticleViewModel

@{
    ViewData["Title"] = Model.ArticleTitle;
    Layout = "~/views/shared/_bloglayout.cshtml";
}

@inject UserManager<ApplicationUser> UserManager

@section BlogStyles{
    <link href="~/lib/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" />
    <link href="~/lib/pnotify/dist/pnotify.custom.min.css" rel="stylesheet" />
}

@Html.HiddenFor(model => model.ArticleId)

<div class="blog">
    <div class="blog-item">
        @*<img width="100%" alt="" src="images/blog/blog2.jpg" class="img-responsive img-blog">*@
        <div class="blog-content">

            <h3>@Model.ArticleTitle</h3>

            <div class="entry-meta">
                <span><i class="fa fa-user"></i> <a href="#author-well">&nbsp;@Model.ApplicationUser.UserFullName</a></span>
                <span><i class="fa fa-line-chart"></i> <a href="javascript: void(0);">&nbsp;@(Model.ArticleViewCount ?? 0)</a></span>

                @if (Model.ArticleRatings.Count != 0)
                {
                    <span><i class="fa fa-star"></i> &nbsp; @Model.SumOfRating/10</span>
                }

                <span><i class="fa fa-calendar"></i>&nbsp;<span class="persianDate">@Model.ArticleDateCreated.ToString("MM/dd/yyyy")</span></span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">&nbsp; نظرات @Model.ArticleComments.Count</a></span>
            </div>

            <div>
                @Html.Raw(Model.ArticleBody)
            </div>

            <hr>

            <div id="articleRatingContainer">

                @if (Model.ArticleTagsList.Count != 0)
                {
                    <div class="tags">
                        <i class="fa fa-tags fa-2x"></i> برچسب ها:
                        @foreach (var item in Model.ArticleTagsList)
                        {
                            <a href="/Article/Tag/@item.ArticleTagId/@item.ArticleTagName.Replace(' ', '-')" class="btn btn-xs btn-primary">@item.ArticleTagName</a>
                        }
                    </div>

                    <br />
                }

                @if (Model.ArticleRatings.Count != 0)
                {
                    <label for="ArticleRating" class="control-label"><i class="fa fa-star fa-2x"></i> امتیاز مقاله: </label>
                    <span style="padding-left: 20px;">&nbsp; @Model.SumOfRating/10 </span>
                    <span style="padding-left: 20px;"><i class="fa fa-users fa-2x"></i> تعداد رای ها:  @Model.ArticleRatings.Count </span>
                }

                <label for="ArticleRating" class="control-label"> @(Model.CurrentUserRating == null ? "امتیاز بدهید: " : "امتیاز شما: ") </label>
                <input type="hidden" id="ArticleRating" data-filled="fa fa-star fa-2x" data-empty="fa fa-star-o fa-2x" data-start="0" data-stop="10" data-step=".5" data-fractions="2" value="@(Model.CurrentUserRating?.ArticleRatingScore ?? 0)" />



            </div>

            <hr>

            <div class="author well" id="author-well">
                <div class="media">
                    <div class="pull-left">
                        @if (Model.ApplicationUser.UserAvatar != null)
                        {
                            <img alt="" src="~/images/user-avatar/@Model.ApplicationUser.UserAvatar" style="max-width: 150px; max-height: 150px;" class="avatar img-thumbnail">
                        }
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <span class="fa fa-user"></span>  <strong><a href="/User/Profile/ProfileDetail/@Model.ApplicationUser.Email" style="text-decoration:underline;">@Model.ApplicationUser.UserFullName</a></strong>
                        </div>
                        <p>@Model.ApplicationUser.UserBio</p>
                    </div>

                    <div style="font-size: x-large;">

                        @if (Model.ApplicationUser.UserWebSite != null)
                        {
                            <a class="social-webSite" target="_blank" href="@Model.ApplicationUser.UserWebSite" data-toggle="tooltip" title="وب سایت شخصی">
                                <i class="fa fa-globe"></i>
                            </a>
                            @:&nbsp;
                        }

                        @if (Model.ApplicationUser.UserFacebookProfile != null)
                        {
                            <a class="social-facebook" target="_blank" href="@Model.ApplicationUser.UserFacebookProfile" data-toggle="tooltip" title="پروفایل فیس بوک">
                                <i class="fa fa-facebook"></i>
                            </a>
                            @:&nbsp;
                        }

                        @if (Model.ApplicationUser.UserTwitterProfile != null)
                        {
                            <a class="social-twitter" target="_blank" href="@Model.ApplicationUser.UserTwitterProfile" data-toggle="tooltip" title="پروفایل تویتر">
                                <i class="fa fa-twitter"></i>
                            </a>
                            @:&nbsp;
                        }

                        @if (Model.ApplicationUser.UserLinkedInProfile != null)
                        {
                            <a class="social-linkedin" target="_blank" href="@Model.ApplicationUser.UserLinkedInProfile" data-toggle="tooltip" title="پروفایل لینکدین">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            @:&nbsp;
                        }

                        @if (Model.ApplicationUser.UserGoogleProfile != null)
                        {
                            <a class="social-google" target="_blank" href="@Model.ApplicationUser.UserGoogleProfile" data-toggle="tooltip" title="پروفایل گوگل پلاس">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                        }

                    </div>

                </div>
            </div>



            <div id="comments">


                <div id="comments-list">
                    <h3>@Model.ArticleComments.Count نظر</h3>

                    @if (Model.ArticleComments.Any(m => m.IsCommentApproved))
                    {
                        @await Component.InvokeAsync("ArticleCommentsOnDetailPage", new { commentTree = new ArticleCommentTreeViewModel { CommentSeed = null, Comments = Model.ArticleComments.Where(m => m.IsCommentApproved).ToList() } })
                    }
                </div>


                @if (Model.IsOpenForComment)
                {
                    <div id="comment-form">
                        <h3 id="commentHeader">نظر خود را ثبت کنید</h3>
                        <form role="form" id="commentForm" class="form-horizontal">

                            <input type="hidden" name="ArticleIDfk" value="@Model.ArticleId" />
                            <input type="hidden" name="UserIDfk" value="@UserManager.GetUserId(User)" />

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" id="ArticleCommentName" name="ArticleCommentName" placeholder="نام" maxlength="50" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="email" id="ArticleCommentEmail" name="ArticleCommentEmail" placeholder="ایمیل  (صرفا برای نمایش گراواتار است)" maxlength="100" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="url" id="ArticleCommentWebSite" name="ArticleCommentWebSite" placeholder="وبسایت" maxlength="100" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea placeholder="متن نظر" id="ArticleCommentBody" name="ArticleCommentBody" class="form-control" rows="12" maxlength="8000" required></textarea>
                                    <span id="remainingCharacter"></span>
                                </div>
                            </div>

                            <div id="commentFormButtonsContainer" style="display: inline;">
                                <button id="submitComment" class="btn btn-danger btn-lg" type="submit">ثبت نظر</button>
                            </div>

                        </form>
                    </div>
                }

                @if (!Model.IsOpenForComment)
                {
                    <div class="alert alert-info alert-dismissable">
                        <strong style="font-size: large;">بخش نظرات برای این مقاله بسته شده است.</strong>
                    </div>
                }



            </div>




        </div><!--/.blog-content-->


    </div><!--/.blog-item-->
</div>


@section BlogScripts{
    <script src="~/lib/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.custom.min.js"></script>
    <script src="~/lib/spin.js/spin.min.js"></script>
    <script src="~/lib/jquery.blockui/jquery.blockui.js"></script>
    <script src="~/lib/gravatar/gravatar.js"></script>
    <script src="~/js/utilities/spin.partofpage.js"></script>
    <script src="~/js/webforscripts/article.detail.js"></script>

}