@using System.Threading.Tasks
@using cloudscribe.Web.Pagination
@using WebFor.Core.Domain
@model cloudscribe.Web.Pagination.IPagedList<WebFor.Web.Areas.Admin.ViewModels.Article.ArticleViewModel>

@{
    ViewData["Title"] = "لیست مقالات";
    Layout = "~/views/shared/_bloglayout.cshtml";
}

@section BlogStyles{

}

@foreach (var item in Model)
{
    <div class="blog">
        <div class="blog-item">
            @*<img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" />*@
            <div class="blog-content">
                <a href="/Article/Detail/@item.ArticleId/@item.ArticleTitle.Replace(' ', '-')">
                    <h3>@item.ArticleTitle</h3>
                </a>
                <div class="entry-meta">
                    <span><i class="fa fa-user"></i> <a href="javascript: void(0);">&nbsp;@item.ApplicationUser.UserFullName</a></span>
                    <span><i class="fa fa-line-chart"></i> <a href="javascript: void(0);">&nbsp;@(item.ArticleViewCount ?? 0)</a></span>

                    @if (item.ArticleRatings.Count != 0)
                    {
                        <span><i class="fa fa-star"></i> &nbsp; @(item.ArticleRatings.Sum(a => a.ArticleRatingScore) / item.ArticleRatings.Count)/10</span>
                    }

                    <span><i class="fa fa-calendar"></i>&nbsp;<span class="ArticleDateCreated">@item.ArticleDateCreated.ToString("MM/dd/yyyy")</span></span>
                    <span><i class="fa fa-comment"></i> <a href="javascript: void(0);">&nbsp; نظرات @item.ArticleComments.Count</a></span>
                </div>
                <p>@item.ArticleSummary</p>
                <a class="btn btn-default" href="/Article/Detail/@item.ArticleId/@item.ArticleTitle.Replace(' ', '-')">خواندن ادامه <i class="fa fa-angle-left"></i></a>
            </div>
        </div>
    </div>
}

<div class="text-center" style="font-size: large;">
    <cs-pager cs-paging-pagesize="@Model.PageSize"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItemCount"
              cs-next-page-text=">"
              cs-previous-page-text="<"
              cs-pagenumber-param="page"
              asp-controller="Article"
              asp-action="ManageArticle">

    </cs-pager>
</div>


@section BlogScripts{
    <script src="~/lib/pesian-datetime/jalali.js"></script>
    <script src="~/js/webforscripts/article.index.js"></script>
}