@using System.Threading.Tasks
@using FreelancerBlog.ViewModels.Account
@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section styles{
    <style>
        legend {
            width: inherit;
            padding: 0 10px;
            border-bottom: none;
        }

        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        .checkbox label::before {
            left: 106px !important;
        }

        .checkbox label::after {
            left: 104px !important;
        }
    </style>

    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>ثبت نام</h1>
                <p>فرم ثبت نام با @ViewData["LoginProvider"] </p>
                <h3>اکانت @ViewData["LoginProvider"] خود را به یک نام کاربری متصل کنید.</h3>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/Home/Index">خانه</a></li>
                    <li class="active">ثبت نام سرویس های دیگر</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal col-md-offset-4" role="form" style="max-width: 600px;">

    <div class="col-md-10">
        <p class="text-info" style="padding-top: 10px;">
            تایید هویت شما توسط <strong>@ViewData["LoginProvider"]</strong> موفقیت آمیز بود، برای تکمیل ثبت نام خود لطفا فرم زیر را تکمیل نمایید، با این کار میتوانید در بازدید های بعدی صرفا با سرویس های دیگر به سایت وارد شوید.
        </p>
        <hr class="colorgraph">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @if ((string) ViewData["LoginProvider"] == "Twitter")
            {
                <input asp-for="Email" placeholder="ایمیل" class="form-control input-lg" />
            }
            else
            {
                <input asp-for="Email" placeholder="ایمیل" value="@Model.Email" class="form-control input-lg" readonly />
            }
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="UserFullName" placeholder="نام و نام خانوادگی" class="form-control input-lg" />
            <span asp-validation-for="UserFullName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group input-lg">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <fieldset style="border: 1px solid #808080; padding-right: 15px;">
                <legend>جنیست</legend>
                <input asp-for="UserGender" value="Male" type="radio" />
                <label asp-for="UserGender">مرد</label>
                &nbsp;
                <input asp-for="UserGender" value="Female" type="radio" />
                <label asp-for="UserGender">زن</label>
            </fieldset>
            <span asp-validation-for="UserGender" class="text-danger"></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-10">
            <select asp-for="UserHowFindUs" class="form-control input-lg" placeholder="طریقه اشنایی با ما">
                <option value="">لطفا طریقه آشنایی را انتخاب کنید</option>
                <option value="موتورهای جستجو">موتورهای جستجو</option>
                <option value="دوستان و آشنایان">دوستان و آشنایان</option>
                <option value="مشتریان قبلی ما">مشتریان قبلی ما</option>
                <option value="شبکه های اجتماعی">شبکه های اجتماعی</option>
                <option value="ایمیل های تبلیغاتی">ایمیل های تبلیغاتی</option>
            </select>
            <span asp-validation-for="UserHowFindUs" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" asp-for="TermsAndConditions">
                <label asp-for="TermsAndConditions">موافقت با قوانین</label> - <a href="#">لطفا قوانین سایت را با دقت مطالعه فرمایید.</a>
            </div>
            <span asp-validation-for="TermsAndConditions" class="text-danger"></span>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-lg btn-success" style="width: 100%;">ثبت نام</button>
            <hr class="colorgraph">
        </div>

    </div>


</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/CustomScripts/account.register.js"></script>
}
